---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

import profileImage from "../assets/profile.jpg";
import ucscImage from "../assets/ucsc_img.jpeg";

const interests = [
  "Linux",
  "C/C++",
  "Go-lang",
  "OpenGL",
  "SQL",
  "Google Cloud Platform",
  "React.js",
];
---

<Layout>
  <main class="flex flex-col gap-y-6">
    <div class="font-bold mt-2 mb-8">
      <a href="/">siddhantmadhur.com</a>
    </div>
    <div>
      <div class="relative">
        <div>
          <Image
            src={ucscImage}
            class="max-h-[300px] scale-110 w-full object-cover rounded-xl outline-2 outline-primary outline-offset-4"
            alt="Image of UC Santa Cruz from above"
          />
        </div>
        <div>
          <Image
            src={profileImage}
			alt="my profile picture"
            class="w-48 h-48 bg-gray-200 absolute bottom-0 translate-y-[50%] rounded-2xl border-background border-8"
          />
        </div>
      </div>
    </div>
    <div class="translate-x-52 text-3xl translate-y-3 font-bold">
      Siddhant Madhur
    </div>
    <div class="translate-x-52 max-w-[800px] opacity-90">
      I'm an undergrad at <span
        class="text-primary underline underline-offset-2"
        >University of California, Santa Cruz</span
      > studying Computer Science. <br />
      My passion lies in Operating Systems, Game Engines and other low-level programming
      fields. You can search my name on most social medias to contact me.
    </div>
    <div class="translate-x-52 flex gap-3 font-semibold">
      {
        interests.map((interest) => (
          <div class="px-3 py-0.5 bg-primary/40 w-fit rounded-sm text-sm">
            {interest}
          </div>
        ))
      }
    </div>
    <div class="mx-16 mt-5">
      <div class="text-2xl font-bold mb-3">Experiences</div>
      <div>
        <div class="text-2xl font-semibold">Google</div>
        <div class="flex justify-between">
          <div>Associate Software Developer Intern</div>
          <div>06/2025 - 09/2025</div>
        </div>
      </div>
    </div>
  </main>
</Layout>
